@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iran ;
  src: url(../public/font/iran.ttf);
}

body{
  font-family: iran;
}

@layer components {
  .clip_path {
    clip-path: polygon(50% 0%, 100% 0, 100% 91%, 50% 100%, 0 91%, 0 0);
  }

  .heading {
    @apply text-[30px]  lg:text-[45px] xl:text-[50px] font-bold text-gray-900 md:leading-[4rem] leading-[3rem] text-center 
  }
}



